<p style="color: green"><%= notice %></p>

<h1>Users</h1>

<div id="users">
  <% @users.each do |user| %>
    <%= render user %>
    <p>
      <%= link_to "Показать пользователя", user %>
    </p>
  <% end %>
</div>

<%= link_to "Новый пользователь", new_user_path %>
<div>
<%= button_to "Выйти", root_path, method: :get %>
</div>