<p style="color: green"><%= notice %></p>

<%= render @user %>

<div>
  <%= link_to "Редактировать", edit_user_path(@user) %> |
  <%= link_to "Обратно", users_path %>

  <%= button_to "Удалить", @user, method: :delete %>
</div>
