<h1>Session#login</h1>
<p>Find me in app/views/session/login.html.erb</p>

<% flash.each do |type, msg|%>
<% unless type == "notice" %>
<p id = 'error'><%= msg %></p>
<% end %>
<% end %>



<%= form_with url: session_authorize_path, method: :get  do |form| %><h1>логин</h1>


  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :password, style: "display: block" %>
    <%= form.password_field :password %>
  </div>

  <div>
    <%= form.submit :'Вход' %>
  </div>
<% end %>

<%= button_to 'Регистрация', new_user_path, method: :get%>
