<div id="result">

<h1>Example#show</h1>
<h3> Вы ввели <%= params[:num1].to_i %> и <%= params[:num2].to_i %></h3>

<div class="result">

<div>
<table>
<tr><th>Итерация</th><th>Результат</th><th>Результат</th></tr>
<% @result.each do |val, res1, res2| %>
    <tr>
    <td><%= val %></td>
    <td><%= res1 %></td>
    <td><%= res2 %></td>
    <% end %>
    </tr>
</table>
</div>



<p><h3><%= "Наибольший общий делитель: #{@k_k}\n" %></h3></p>

<p><h3>Наименьшее общее кратное: <%= @summ %></h3></p>



 <%= form_with url: "/", method: :get do |form| %>
    <%= form.submit 'Перейти на главную' %>
    <% end %>

</div>
</div>