

<h1>Example#show</h1>
<h3> Вы ввели <%= params[:num1].to_i %> и <%= params[:num2].to_i %></h3>

<h3> Вы ввели <%= @first_num %> и <%= @second_num %></h3>

<div>
<table>
<tr><th>Итерация</th><th>Результат</th><th>Результат</th></tr>
<% @iterations.each do |iter| %>
    <tr>
    <td><%= iter['iteration'] + 1 %></td>
    <td><%= iter['num1'] %></td>
    <td><%= iter['num2'] %></td>
    <% end %>
    </tr>
</table>
</div>



<p><h3 id = 'NOD' ><%= "Наибольший общий делитель: #{@k_k}\n" %></h3></p>
<p><h3 id = 'NOK'>Наименьшее общее кратное: <%= @summ %></h3></p>


<p><h3 id = 'NOD' >Наибольший общий делитель: <%=@nod%></h3></p>
<p><h3 id = 'NOK'>Наименьшее общее кратное: <%= @nok %></h3></p>



 <%= form_with url: "/", method: :get do |form| %>
    <%= form.submit 'Очистить' %>
    <% end %>
