<h1>Example#input</h1>
<%= form_with url: "/example/show" do |form| %>
<%= form.label :num1, "Введите первое число:" %>
<%= form.number_field :num1, value: 1 %>
<br/>
<%= form.label :num2, "Введите второе число:" %>
<%= form.number_field :num2, value: 1 %>
<br/>
<%= form.submit "Вычислить" %>
<% end %>


<% flash.each do |_tr, msg|%>
  <p><%= msg %></p>
<% end %>

<div id="result">тут будет show</div>