<h1>Example#input</h1>
<h3>Привет <%= User.find_by(id: session[:current_user_id]).name %></h3>
<%= button_to 'Выход', session_logout_path, method: :get%>

<%= form_with url: "/example/show" do |form| %>
<%= form.label :num1, "Введите первое число:" %>
<%= form.number_field :num1, value: 1 %>
<br/>
<%= form.label :num2, "Введите второе число:" %>
<%= form.number_field :num2, value: 1 %>
<br/>
<%= form.submit('Посчитать', id: 'calculate-btn') %>
<% end %>

<% flash.each do |_tr, msg|%>
<p class = error><%= msg %></p>
<% end %>

<div id="result">тут будет show</div>